.volunteerCont {
  /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: 50%;
    gap: 20px;
    padding: 30px 1vw;
   
}
.volunteerCont .img{
  background-image: url("../../images/home/cover.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  left: -2px;
  height: 100vh;
}
.volunteerCont::after{
  position: absolute;
  content: "";
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.486));
  top: -117px;
  left: 0;
  z-index: 2;
  top: 0.1rem;
}

.volunteerCont .section1 {
  /* border: 2px solid salmon; */
  text-align: center;
     position: relative;
     z-index: 3;
     color: rgb(0, 0, 0);
     height: 100vh;
     padding: 6vh 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.volunteerCont .section1 h1 {
  font-size: 2.5rem;
  color: white;
}

.volunteerCont .section1 p {
  font-size: 1.12rem;
  color: white;
  margin: 1.12rem;
}

.volunteerCont .section1 p.longp {
  font-size: 1.4rem;
  color: rgb(80, 80, 80);
  margin: 1.12rem;
}
.volunteerImage{
  /* border: 4px solid hotpink; */
  display: flex;
  align-items: center;
  margin: 15px 2px;
}
.volunteerImage img{
  width: 60%;
  border-radius: 6px;
  height: 200px;
  margin: auto;
}

/* ##################### Section 2 */
.volunteerCont .section2{
  padding: 0px 0 1vw;
}
.volunteerCont .section2 h1{
  margin-top: 4rem;
  text-align: center;
}
.volunteerCont .section2 p.longp {
  font-size: 1.4rem;
  color: rgb(80, 80, 80);
  margin: 1.12rem;
  text-align: center;
}
.volunteerCont .section2 li{
  padding-top: 1rem;
  font-size: 1rem;
  margin: 0 2rem;
}

/* ##################### Section 3 */

.section3 {
  padding: 60px 0;
  text-align: center;
}

.section3 h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Owl Carousel Styles */
.owl-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Single Testimonial Styles */
.singleDo {
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  background: #f8f8f8;
  border-radius: 16px;
}

.singleDo p {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.7px;
  margin-bottom: 10px;
}

.singleDo .doTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 15px;
}

.owl-prev,
.owl-next {
  font-size: 2rem;
  color: #333;
}

/*  ################ CTA */
.volunteerCont .cta{
  text-align: center;
  padding: 0 10vw 4vh;
}
.volunteerCont .cta h1{
  font-size: 2rem;
  text-align: center;
}
.volunteerCont .cta h1.second{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 26px;
}
.volunteerCont .cta i{
  font-size: 1rem;
  margin-right: 12px;
}
.volunteerCont .cta a {
  font-family: Helvetica, sans-serif;
  font-size: 0.95rem;
  background-color: #FF9800;
  color: white;
  padding: 18px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease;
}
.volunteerCont .cta a:hover {
  box-shadow: 0 0 0 .3rem rgba(253, 215, 50, .4);
}