.ourTeamCont {
  margin: calc(10vh + 70px) 20px;

  .lineTitle {
    position: relative;
    font-family: "Montserrat", sans-serif;
    border-left: 4px solid #ff9800;
    margin-left: 20px;
    font-size: 1.7em;

    span {
      display: inline-block;
      background-color: #fff;
      padding: 0 10px 0 20px;
      font-weight: normal;
      cursor: pointer;

      strong {
        font-weight: 600;
      }

      &.opened {
        &::after {
          content: "\f106";
          font-family: "FontAwesome";
          margin-left: 0.5em;
        }
      }

      &.closed {
        &::after {
          content: "\f107";
          font-family: "FontAwesome";
          margin-left: 0.5em;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0.5em;
      width: 95%;
      border-top: 1px solid #c5c5c5;
      z-index: -1;
    }
  }

  .teamList {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    grid-gap: 1.5em;
  }
}

@media only screen and (min-width: 768px) {
  .ourTeamCont {
    .teamList {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (min-width: 992px) {
  .ourTeamCont {
    .lineTitle {
      margin-left: 50px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .ourTeamCont {
    .teamList {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
